body {
  background: #c3cfe2;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

main {
  display: -ms-grid;
  display: grid;
  overflow: hidden;
}

header {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  background: white;
  border-radius: 20px;
  margin: 0 50px;
}

header h2 {
  color: gray;
  font-size: 20px;
  padding-bottom: 10px;
}

main a {
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  background: white;
}

.card__top {
  background: white;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 20px 20px 0px 0px;
  height: 200px;
}

.card__top p {
  font-size: 20px;
  color: gray;
}

.card__bottom {
  background: #686de0;
  padding: 20px;
  margin-top: -65px;
  border-radius: 0px 0px 20px 20px;
  color: white;
}

h3 {
  margin-top: 50px;
  font-size: 24px;
  margin-bottom: -10px;
}

main img {
  height: 100px;
  border-radius: 100px;
  width: 100px;
  border: white 5px solid;
  margin: 0 100px;
  margin-top: -50px;
}

.card1 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card1:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.card1:hover p {
  display: none;
}

.card1:hover a {
  color: black;
  background: gray;
}

.card1:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card2 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card2:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card2:hover p {
  display: none;
}

.card2:hover a {
  color: black;
  background: gray;
}

.card2:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card3 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card3:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card3:hover p {
  display: none;
}

.card3:hover a {
  color: black;
  background: gray;
}

.card3:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card4 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card4:hover {
  -webkit-transform: rotatey(90deg);
          transform: rotatey(90deg);
}

.card4:hover p {
  display: none;
}

.card4:hover a {
  color: black;
  background: gray;
}

.card4:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card5 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card5:hover {
  -webkit-transform: perspective(400px) rotatey(45deg);
          transform: perspective(400px) rotatey(45deg);
}

.card5:hover p {
  display: none;
}

.card5:hover a {
  color: black;
  background: gray;
}

.card5:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card6 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card6:hover {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.card6:hover p {
  display: none;
}

.card6:hover a {
  color: black;
  background: gray;
}

.card6:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card7 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card7:hover {
  transform: matrix(0.21, -0.34, 0.45, 1.2, 19, 0);
  -ms-transform: matrix(0.21, -0.34, 0.45, 1.2, 19, 0);
  -webkit-transform: matrix(0.21, -0.34, 0.45, 1.2, 19, 0);
}

.card7:hover p {
  display: none;
}

.card7:hover a {
  color: black;
  background: gray;
}

.card7:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.socialmedia {
  margin: 0 auto;
}

.socialmedia img {
  width: 30px;
  height: 30px;
}

.socialmedia__insta img {
  background: pink;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  border-radius: 20px;
}

.socialmedia__insta img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.socialmedia__facebook img {
  background: rgba(0, 0, 151, 0.774);
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  border-radius: 20px;
}

.socialmedia__facebook img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.socialmedia__twitter img {
  background: white;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  border-radius: 20px;
}

.socialmedia__twitter img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.socialmedia__github img {
  background: gray;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  border-radius: 20px;
}

.socialmedia__github img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.socialmedia__linkedin img {
  background: lightblue;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  border-radius: 20px;
}

.socialmedia__linkedin img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (min-width: 650px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  header {
    margin: 0 100px;
  }
}

@media (min-width: 1024px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  header {
    margin: 0 200px;
  }
}
/*# sourceMappingURL=style.css.map */