body {
  background: #c3cfe2;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

header {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  background: white;
  border-radius: 20px;
  margin: 0 50px;
}

header h2 {
  color: gray;
  font-size: 20px;
  padding-bottom: 10px;
}

footer {
  padding-top: 50px;
  margin: 0;
}

main a {
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  background: white;
}

.card__top {
  background: white;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 20px 20px 0px 0px;
  height: 200px;
}

.card__top p {
  font-size: 20px;
  color: gray;
}

.card__bottom {
  background: #686de0;
  padding: 20px;
  margin-top: -65px;
  border-radius: 0px 0px 20px 20px;
  color: white;
}

h3 {
  margin-top: 50px;
  font-size: 24px;
  margin-bottom: -10px;
}

main img {
  height: 100px;
  border-radius: 100px;
  width: 100px;
  border: white 5px solid;
  margin: 0 100px;
  margin-top: -50px;
}

.card-1 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card-1:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.card-1:hover p {
  color: white;
}

.card-1:hover a {
  color: black;
  background: gray;
}

.card-1:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card-2 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card-2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card-2:hover p {
  color: white;
}

.card-2:hover a {
  color: black;
  background: gray;
}

.card-2:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card-3 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card-3:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.card-3:hover p {
  color: white;
}

.card-3:hover a {
  color: black;
  background: gray;
}

.card-3:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card-4 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card-4:hover {
  -webkit-transform: rotatey(90deg);
          transform: rotatey(90deg);
}

.card-4:hover p {
  color: white;
}

.card-4:hover a {
  color: black;
  background: gray;
}

.card-4:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card-5 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card-5:hover {
  -webkit-transform: perspective(400px) rotatey(45deg);
          transform: perspective(400px) rotatey(45deg);
}

.card-5:hover p {
  color: white;
}

.card-5:hover a {
  color: black;
  background: gray;
}

.card-5:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card-6 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card-6:hover {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.card-6:hover p {
  color: white;
}

.card-6:hover a {
  color: black;
  background: gray;
}

.card-6:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.card-7 {
  -webkit-box-shadow: 5px 5px 10px 5px gray;
          box-shadow: 5px 5px 10px 5px gray;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.card-7:hover {
  transform: matrix(0.21, -0.34, 0.45, 1.2, 19, 0);
  -ms-transform: matrix(0.21, -0.34, 0.45, 1.2, 19, 0);
  -webkit-transform: matrix(0.21, -0.34, 0.45, 1.2, 19, 0);
}

.card-7:hover p {
  color: white;
}

.card-7:hover a {
  color: black;
  background: gray;
}

.card-7:hover img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.social-media {
  margin: 0;
}

.social-media img {
  width: 30px;
}

.insta {
  background: #eb9693;
  padding: 20px 0;
  margin-right: -4px;
}

.insta img {
  background-color: #eb9693;
  padding: 20px;
  margin: 0;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  margin-bottom: -25px;
}

.insta img:hover {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.facebook {
  background: #3b5998;
  padding: 20px 0;
  margin-right: -4px;
}

.facebook img {
  background-color: #3b5998;
  padding: 20px;
  margin: 0;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  margin-bottom: -25px;
}

.facebook img:hover {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.twitter {
  background: #46ceff;
  padding: 20px 0;
  margin-right: -4px;
}

.twitter img {
  background-color: #46ceff;
  padding: 20px;
  margin: 0;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  margin-bottom: -25px;
}

.twitter img:hover {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.github {
  background: #333;
  padding: 20px 0;
  margin-right: -4px;
}

.github img {
  background-color: #333;
  padding: 20px;
  margin: 0;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  margin-bottom: -25px;
}

.github img:hover {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

.linkedin {
  background: #4196bd;
  padding: 20px 0;
}

.linkedin img {
  background-color: #4196bd;
  padding: 20px;
  margin: 0;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  margin-bottom: -25px;
}

.linkedin img:hover {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

@media (min-width: 650px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  header {
    margin: 0 100px;
  }
}

@media (min-width: 1024px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
  header {
    margin: 0 200px;
  }
}
/*# sourceMappingURL=style.css.map */